In [2]:
import pandas as pd
obj = pd.Series([1,3,5,-3,2])
obj

0    1
1    3
2    5
3   -3
4    2
dtype: int64

In [5]:
obj2 = pd.Series([1,4,32,5],index=['a','v','d','b'])
obj2

a     1
v     4
d    32
b     5
dtype: int64

In [8]:
import numpy as np
np.exp(obj2)

a    2.718282e+00
v    5.459815e+01
d    7.896296e+13
b    1.484132e+02
dtype: float64

In [13]:
students ={
    'stu1':'BOB',
    'stu2':'TOM',
    'stu3':'MIKE',
    'stu4':'DIVE',
   }
stu = pd.Series(students)
stu.name = 'Test'
stu.index.name='NAME'
stu.index=['a','b','v','d']
stu

a     BOB
b     TOM
v    MIKE
d    DIVE
Name: Test, dtype: object

In [18]:
index_stu = stu.index
index_stu[1] ='c'

TypeError: Index does not support mutable operations

In [23]:
obj_reindex_01 = pd.Series(['blue','yellow','red'],index=[0,2,4])
obj_reindex_01.reindex(range(6),method='ffill')

0      blue
1      blue
2    yellow
3    yellow
4       red
5       red
dtype: object

In [30]:
frame_reindex_01 = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','b','c'],columns=['qq','bb','cc'])
frame_reindex_02 = frame_reindex_01.reindex(['a','b','c','r'])
frame_reindex_02

    qq   bb   cc
a  0.0  1.0  2.0
b  3.0  4.0  5.0
c  6.0  7.0  8.0
r  NaN  NaN  NaN

In [2]:
l = [1,2,3,4,5]
l[2:4]

[3, 4]

In [7]:
import pymongo
import pandas as pd
import pprint

mongo_url = "127.0.0.1:27017"
# mongo_port = 27017

# 连接到mongodb，如果参数不填，默认为“localhost:27017”
client = pymongo.MongoClient(mongo_url)

#连接到数据库myDatabase
DATABASE = "PuDong_Sold"
db = client[DATABASE]

coll = db['Task_anshan']

data = coll.find({},{'_id':0,'community_name':0})

import_data = data.next()
# import_data.pop('community_name')

frame = pd.DataFrame(import_data)
# 返回 行标签
# print(frame.index)

frame.drop(['sold_address','sold_house_url'],inplace=True)
frame_T= frame.T

In [11]:
frame_T.iloc[[6,7,8],5]

和平花苑 2室2厅 84_28平米(595)     70599
和平花苑 3室2厅 122_54平米(805)    65693
和平花苑 2室2厅 85_66平米(606)     70745
Name: sold_unitPrice, dtype: object

In [15]:
import numpy as np
ser = pd.Series(np.arange(4.0))

In [22]:
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list("qwet"))
df2 = pd.DataFrame(np.arange(15.).reshape((5,3)),columns=list('qwe'))
df1 + df2

      e     q   t     w
0   4.0   0.0 NaN   2.0
1  11.0   7.0 NaN   9.0
2  18.0  14.0 NaN  16.0
3   NaN   NaN NaN   NaN
4   NaN   NaN NaN   NaN

In [24]:
df1.add(df2,fill_value=0)

      e     q     t     w
0   4.0   0.0   3.0   2.0
1  11.0   7.0   7.0   9.0
2  18.0  14.0  11.0  16.0
3  11.0   9.0   NaN  10.0
4  14.0  12.0   NaN  13.0

In [32]:
frame = pd.DataFrame(np.arange(12.0).reshape(4,3),columns=list('bde'),index=['aa','qq','ww','rr'])
frame

      b     d     e
aa  0.0   1.0   2.0
qq  3.0   4.0   5.0
ww  6.0   7.0   8.0
rr  9.0  10.0  11.0

In [38]:
series = frame.iloc[1,2]
series

5.0

In [39]:
ser = pd.Series(range(3),index=['b','e','f'])
ser

b    0
e    1
f    2
dtype: int64