In [2]:
import pandas as pd
obj = pd.Series([1,3,5,-3,2])
obj

0    1
1    3
2    5
3   -3
4    2
dtype: int64

In [5]:
obj2 = pd.Series([1,4,32,5],index=['a','v','d','b'])
obj2

a     1
v     4
d    32
b     5
dtype: int64

In [8]:
import numpy as np
np.exp(obj2)

a    2.718282e+00
v    5.459815e+01
d    7.896296e+13
b    1.484132e+02
dtype: float64

In [13]:
students ={
    'stu1':'BOB',
    'stu2':'TOM',
    'stu3':'MIKE',
    'stu4':'DIVE',
   }
stu = pd.Series(students)
stu.name = 'Test'
stu.index.name='NAME'
stu.index=['a','b','v','d']
stu

a     BOB
b     TOM
v    MIKE
d    DIVE
Name: Test, dtype: object

In [18]:
index_stu = stu.index
index_stu[1] ='c'

TypeError: Index does not support mutable operations

In [23]:
obj_reindex_01 = pd.Series(['blue','yellow','red'],index=[0,2,4])
obj_reindex_01.reindex(range(6),method='ffill')

0      blue
1      blue
2    yellow
3    yellow
4       red
5       red
dtype: object

In [30]:
frame_reindex_01 = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','b','c'],columns=['qq','bb','cc'])
frame_reindex_02 = frame_reindex_01.reindex(['a','b','c','r'])
frame_reindex_02

    qq   bb   cc
a  0.0  1.0  2.0
b  3.0  4.0  5.0
c  6.0  7.0  8.0
r  NaN  NaN  NaN

In [31]:
l = [1,2,3,4,5]
l[2:4]

[3, 4]