In [1]:
import pymongo
import pandas

# mongodb服务的地址和端口号
mongo_url = "127.0.0.1:27017"
# mongo_port = 27017

# 连接到mongodb，如果参数不填，默认为“localhost:27017”
client = pymongo.MongoClient(mongo_url)

#连接到数据库myDatabase
DATABASE = "PuDong_Sold"
db = client[DATABASE]

coll = db['Task_caolu']

# data = coll.find({})
# print(data.count())
# while True:
#     try:
#         print(data.next())
#     except StopIteration:
#         break

data = pandas.DataFrame(coll.find({}))
data.fillna(value=0)


# 删除mongodb中的_id字段
del data['_id']

print(data.head(5))

       community_name 万科第五园 3室1厅 249平米(1***) 万科第五园 3室2厅 160_59平米(835)  \
0    Task_sold_河滨城市花园                    NaN                      NaN
1      Task_sold_星颂家园                    NaN                      NaN
2      Task_sold_中虹家园                    NaN                      NaN
3  Task_sold_金领国际(公寓)                    NaN                      NaN
4       Task_sold_阳光苑                    NaN                      NaN

  万科第五园 3室2厅 187_36平米(950) 万科第五园 4室2厅 167_68平米(665) 万科第五园 4室2厅 234_17平米(1070)  \
0                      NaN                      NaN                       NaN
1                      NaN                      NaN                       NaN
2                      NaN                      NaN                       NaN
3                      NaN                      NaN                       NaN
4                      NaN                      NaN                       NaN

  万科第五园 4室2厅 290平米(975) 万科第五园 4室2厅 291_06平米(1380) 万科第五园 4室4厅 291_16平米(1180)  \
0                   NaN                       NaN                       NaN
1                   NaN                       NaN                       NaN
2                   NaN                       NaN                       NaN
3                   NaN                       NaN                       NaN
4                   NaN                       NaN                       NaN

  万科第五园 5室3厅 160_59平米(640)  ... 龚路新城 2室2厅 86_39平米(191) 龚路新城 2室2厅 86_39平米(250)  \
0                      NaN  ...                    NaN                    NaN
1                      NaN  ...                    NaN                    NaN
2                      NaN  ...                    NaN                    NaN
3                      NaN  ...                    NaN                    NaN
4                      NaN  ...                    NaN                    NaN

  龚路新城 2室2厅 86_39平米(268) 龚路新城 2室2厅 86_39平米(300) 龚路新城 2室2厅 86_39平米(318_8)  \
0                    NaN                    NaN                      NaN
1                    NaN                    NaN                      NaN
2                    NaN                    NaN                      NaN
3                    NaN                    NaN                      NaN
4                    NaN                    NaN                      NaN

  龚路新城 2室2厅 86_5平米(340) 龚路新城 3室2厅 100_29平米(192) 龚路新城 3室2厅 100_29平米(305)  \
0                   NaN                     NaN                     NaN
1                   NaN                     NaN                     NaN
2                   NaN                     NaN                     NaN
3                   NaN                     NaN                     NaN
4                   NaN                     NaN                     NaN

  龚路新城 3室2厅 100_47平米(330) 龚路新城 3室2厅 120_41平米(290)
0                     NaN                     NaN
1                     NaN                     NaN
2                     NaN                     NaN
3                     NaN                     NaN
4                     NaN                     NaN

[5 rows x 1128 columns]

In [5]:
import pandas

pd = pandas.DataFrame([{'a':'A'}])
print(pd)
#pd.DataFrame({'b':'B'})
#print(pd)

   a
0  A

In [8]:
import pandas

pd = pandas.DataFrame([{'a':'A'}])
print(pd)
pd.append([{'b':'B'}])
print(pd)

   a
0  A
   a
0  A

In [9]:
pd = pandas.DataFrame({'1':[1,2,3],
                      '2':[4,5,6],
                       '3':[7,8,9]
                      })

In [10]:
print(pd)

   1  2  3
0  1  4  7
1  2  5  8
2  3  6  9